//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! GENERAL STYLES
//! //////////////////////////////////////////////////////////////////////////////////////////////////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    font-weight: 500;
}

p {
    line-height: 1.5rem;
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! SCSS STYLES
//! //////////////////////////////////////////////////////////////////////////////////////////////////

@mixin flex($J: center, $D: row, $A: center, $G: 0rem, $W: nowrap) {
    display: flex;
    align-items: $A;
    justify-content: $J;
    flex-direction: $D;
    gap: $G;
    flex-wrap: $W;
}

$theme-color-red: #ff3c40;
$theme-color-red-hover: #ff5053;
$theme-color-red-active: #ff2225;
$theme-color-blue: #0079fe;
$theme-color-blue-hover: #268fff;
$theme-color-blue-active: #0048fe;
$theme-color-gray: #c6c6c6;

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! HEADER
//! //////////////////////////////////////////////////////////////////////////////////////////////////

header {
    @include flex;
    position: relative;
    background: url(assets/Header-bg.jpg) center/cover no-repeat;
    min-height: 52.5rem; // 75rem
    color: #fff;
    fill: #fff;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, hsla(0, 0%, 0%, 1) 13.75%, hsla(0, 0%, 0%, 0));
        z-index: -1;
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! HEADER NAV
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .header-nav {
        @include flex($J: space-between);
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid gray;

        .nav-logo-links-socials {
            @include flex($J: space-between);
            width: 72.5%;
            padding: 0rem 2.5rem;

            .nav-logo {
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
                color: #fff;

                &:hover {
                    color: $theme-color-red;
                }

                &:focus-visible {
                    color: $theme-color-red;
                }

                &:active {
                    color: $theme-color-red-active;
                }
            }

            .nav-links {
                @include flex($G: 2rem);

                a {
                    color: #fff;

                    &:hover {
                        color: $theme-color-red;
                    }

                    &:focus-visible {
                        color: $theme-color-red;
                    }

                    &:active {
                        color: $theme-color-red-active;
                    }
                }
            }

            .nav-socials {
                @include flex($G: 0.75rem);

                svg {
                    width: 32px;
                    height: auto;
                    padding: 0.5rem;
                    background-color: hsla(0, 0%, 50%, 0.25);
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        background-color: $theme-color-red;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }
        }

        .nav-info-buttons {
            @include flex($J: space-between);
            width: 27.5%;
            padding: 0.75rem 2.5rem;
            border-left: 1px solid gray;

            .nav-info {
                @include flex($G: 1rem);

                span {
                    > span {
                        font-size: 10px;
                        color: hsla(0, 0%, 100%, 0.85);
                    }
                }

                svg {
                    width: 25px;
                    height: auto;
                    cursor: pointer;

                    &:hover {
                        fill: $theme-color-red;
                    }

                    &:active {
                        fill: $theme-color-red-active;
                    }
                }
            }

            .nav-buttons {
                @include flex($A: stretch, $G: 0.5rem);

                button {
                    padding: 0.75em 1.75em;
                    font-weight: 500;
                    color: #fff;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                }

                .nav-search {
                    @include flex;
                    padding: 0 0.65rem;
                    background-color: $theme-color-blue;

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! HEADER CONTENT
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .header-content {
        @include flex;
        max-width: 60%;
        background-color: hsla(0, 0%, 0%, 0.5);

        p {
            margin-bottom: 15px;
        }

        h1 {
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 5px;
        }

        h4 {
            margin-bottom: 5px;
        }

        .content-read-more {
            @include flex($D: column, $A: flex-start, $G: 0rem);
            padding: 4rem 8rem 4rem 0rem;

            h1 {
                font-size: 3rem;
            }

            p {
                color: hsl(0, 0%, 75%);
            }

            div {
                @include flex;

                button {
                    padding: 0.65em 2.25em;
                    color: #fff;
                    font-weight: 500;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }

                svg {
                    width: 30px;
                    height: auto;
                    fill: #fff;
                    cursor: pointer;
                    margin-left: 1rem;
                    margin-right: 0.5rem;

                    &:hover {
                        fill: $theme-color-red-hover;
                    }

                    &:active {
                        fill: $theme-color-red-active;
                    }
                }

                a {
                    color: hsla(0, 0%, 100%, 0.75);
                }
            }
        }

        .content-form {
            @include flex($D: column, $A: flex-start, $G: 0rem);
            padding: 4rem 1.75rem;
            border-left: 1px solid gray;

            p {
                color: hsl(0, 0%, 75%);
            }

            input {
                width: 100%;
                height: 2.5rem;
                padding: 20px 15px;
                margin-bottom: 25px;
            }

            button {
                padding: 0.5em 2em;
                color: #fff;
                font-weight: 500;
                background-color: $theme-color-blue;
                border: none;
                border-radius: 1px;

                &:hover {
                    background-color: $theme-color-blue-hover;
                }

                &:active {
                    background-color: $theme-color-blue-active;
                }
            }
        }
    }
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! MAIN
//! //////////////////////////////////////////////////////////////////////////////////////////////////

main {
    @include flex($D: column);

    .heading {
        color: $theme-color-red;
        font-weight: 600;
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! ABOUT US
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-about-us {
        @include flex;
        width: 100%;
        padding: 5rem 0;

        > div {
            @include flex;
            width: 60%;
        }

        .about-us-visual {
            @include flex($J: flex-end);
            width: 50%;
            padding-right: 0.75rem;
            position: relative;

            img {
                width: 400px;
                height: 450px;
                object-fit: cover;
            }

            > div {
                @include flex($A: flex-end);
                position: absolute;
                width: 12.5rem;
                height: 11rem;
                outline: 7.5px solid hsl(0, 0%, 97.5%);
                bottom: 2.5rem;
                left: 0rem;
                background-color: $theme-color-red;
                padding: 1rem;

                svg {
                    position: absolute;
                    top: 0.75rem;
                    right: 0.5rem;
                    width: 37.5px;
                    height: auto;
                    fill: #fff;
                }

                span {
                    display: block;
                    font-size: 2.5rem;
                    font-weight: 900;
                }

                p {
                    color: #fff;
                    font-size: 0.9rem;
                }
            }
        }

        .about-us-description {
            @include flex($D: column, $A: flex-start);
            width: 50%;
            gap: 1.2rem;
            padding-left: 0.75rem;

            p {
                color: hsl(0, 0%, 40%);
                font-size: 0.9rem;
                line-height: 1.35 rem;
            }

            > div {
                @include flex($J: space-between);

                svg {
                    float: left;
                    width: 40px;
                    fill: $theme-color-red;
                    margin-right: 0.75rem;
                }
            }

            button {
                padding: 0.5em 1.5em;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 400;
                background-color: $theme-color-blue;
                border: none;
                border-radius: 1px;
                margin-top: 1em;

                &:hover {
                    background-color: $theme-color-blue-hover;
                }

                &:active {
                    background-color: $theme-color-blue-active;
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! SERVICES
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-services {
        @include flex($D: column);
        position: relative;
        background: hsla(0, 0%, 0%, 0.05);
        width: 100%;
        padding: 5rem 0;
        gap: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: url(assets/Services-bg.jpg) center/cover no-repeat;
            opacity: 0.25;
            z-index: -1;
        }

        > div {
            width: 60%;
            margin-top: 2.5rem;
            display: grid;
            gap: 1rem;
            grid-template-areas:
                "one two three four"
                "one two three four"
                "five six seven eight"
                "five six seven eight";

            .one {
                grid-area: one;
            }
            .two {
                grid-area: two;
            }
            .three {
                grid-area: three;
            }
            .four {
                grid-area: four;
            }
            .five {
                grid-area: five;
            }
            .six {
                grid-area: six;
            }
            .seven {
                grid-area: seven;
            }
            .eight {
                grid-area: eight;
            }

            .services {
                position: relative;
                background-color: #fff;
                cursor: pointer;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 1.5rem 1rem;
                }

                p {
                    color: hsl(0, 0%, 35%);
                }

                svg {
                    width: 35px;
                    fill: $theme-color-red;
                }

                span {
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: hsl(0, 0%, 90%);
                    transition: all 0.25s;
                }

                &:hover span {
                    color: hsl(0, 0%, 75%);
                }

                > div > div {
                    @include flex($J: space-between);
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2.5px;
                    background-color: red;
                    transition: all 0.25s;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 25px;
                    height: 25px;
                    background-color: red;
                    transition: all 0.25s;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition-delay: 0.1s;
                }

                &:hover::after {
                    transform: scaleX(1);
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! TRANSPORT
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-transport {
        @include flex($D: column);
        position: relative;
        width: 100%;
        background: url(assets/Construction.jpg) center/cover no-repeat;
        padding: 7.5rem 0;
        color: #fff;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: hsla(0, 0%, 0%, 0.65);
            z-index: -1;
        }

        > div:nth-child(1) {
            @include flex($D: column);
            text-align: center;
            max-width: 25%;
            gap: 0.5rem;

            > div {
                @include flex;
                gap: 1.5rem;

                button {
                    padding: 0.5em 1.5em;
                    color: #fff;
                    font-size: 0.9rem;
                    font-weight: 400;
                    background-color: $theme-color-blue;
                    border: none;
                    border-radius: 1px;
                    margin-top: 1em;

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }

                button:nth-child(1) {
                    background-color: $theme-color-red;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }
        }

        > div:nth-child(2) {
            @include flex($J: space-between);
            position: absolute;
            bottom: -50px;
            width: 60%;
            padding: 1.75rem 2.75rem;
            background-color: #fff;
            color: #000;
            box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.15);

            > div {
                @include flex;
                gap: 0.75rem;
                width: 10rem;

                svg {
                    width: 40px;
                    fill: $theme-color-blue;
                }

                span {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $theme-color-red;
                }

                p {
                    color: hsl(0, 0%, 35%);
                    font-size: 0.9rem;
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! REQUEST FORM
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-request-form {
        @include flex($D: column);
        position: relative;
        width: 100%;
        padding: 7.5rem 0;
        gap: 3rem;

        > div:nth-child(1) {
            @include flex($D: column);
            max-width: 30%;
            gap: 0.5rem;
            text-align: center;
        }

        > div:nth-child(2) {
            width: 60%;
            display: grid;
            gap: 1rem;
            grid-template-areas:
                "request-form request-form contact"
                "request-form request-form map";

            .request-form {
                grid-area: request-form;
            }
            .contact {
                grid-area: contact;
            }
            .map {
                grid-area: map;
            }

            .request-form {
                @include flex($D: column, $A: stretch);
                gap: 2rem;
                padding: 2rem 1rem;
                border: 1px solid gray;

                > div {
                    @include flex($J: space-between);

                    input {
                        width: 20%;
                    }

                    > div {
                        @include flex($D: column, $A: flex-start);
                        width: 100%;

                        input {
                            width: 90%;
                            height: 2.75rem;
                            padding: 12px;
                        }
                    }
                }

                button {
                    padding: 0.5em 1.5em;
                    color: #fff;
                    font-size: 0.9rem;
                    font-weight: 400;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;
                    margin-top: 1em;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }

            .contact {
                padding: 2rem 1rem;
                background-color: #000;
                color: #fff;

                button {
                    padding: 0.5em 1.5em;
                    color: #fff;
                    font-size: 0.9rem;
                    font-weight: 400;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;
                    margin-top: 1em;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }

            .map {
                opacity: 0.5;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}
