//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! GENERAL STYLES
//! //////////////////////////////////////////////////////////////////////////////////////////////////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

p {
    line-height: 1.4rem;
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! SCSS STYLES
//! //////////////////////////////////////////////////////////////////////////////////////////////////

$theme-color-red: #ff3c40;
$theme-color-red-hover: #ff5053;
$theme-color-red-active: #ff2225;
$theme-color-blue: #0079fe;
$theme-color-blue-hover: #268fff;
$theme-color-blue-active: #0048fe;
$theme-color-gray: #c6c6c6;

@mixin flex($J: center, $D: row, $A: center, $G: 0rem, $W: nowrap, $F: "") {
    display: flex;
    align-items: $A;
    justify-content: $J;
    flex-direction: $D;
    gap: $G;
    flex-wrap: $W;
    flex: $F;
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! HEADER
//! //////////////////////////////////////////////////////////////////////////////////////////////////

header {
    @include flex;
    position: relative;
    z-index: 1;
    background: url(assets/Header-bg.jpg) center/cover no-repeat;
    min-height: 45rem; // 52.5rem // 75rem

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: linear-gradient(to right, hsla(0, 0%, 0%, 1) 13.75%, hsla(0, 0%, 0%, 0));
        inset: 0;
    }

    .header-nav {
        @include flex($J: space-between);
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);

        .nav-logo-links-socials {
            @include flex($J: space-between, $F: 72.5%);
            padding: 0rem 2rem;

            .nav-logo {
                font-size: 2rem;
                font-weight: 500;
                color: $theme-color-red;

                &:focus-visible {
                    color: $theme-color-red;
                }

                &:active {
                    color: $theme-color-red-active;
                }
            }

            .nav-links {
                @include flex($G: 2rem);

                a {
                    color: #fff;

                    &:hover {
                        color: $theme-color-red;
                    }

                    &:focus-visible {
                        color: $theme-color-red;
                    }

                    &:active {
                        color: $theme-color-red-active;
                    }
                }
            }

            .nav-socials {
                @include flex($G: 0.75rem);

                svg {
                    width: 32px;
                    height: auto;
                    padding: 0.5rem;
                    background-color: hsla(0, 0%, 50%, 0.25);
                    border-radius: 50%;
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                        background-color: $theme-color-red;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }
        }

        .nav-info-buttons-menu {
            @include flex($J: space-between, $F: 27.5%);
            padding: 0.75rem 2rem;
            border-left: 1px solid hsla(0, 0%, 100%, 0.25);

            .nav-info {
                @include flex($G: 1rem);

                p {
                    line-height: 1.25;
                    color: #fff;

                    span {
                        font-size: 10px;
                        color: hsla(0, 0%, 100%, 0.85);
                    }
                }

                svg {
                    width: 25px;
                    height: auto;
                    cursor: pointer;
                    fill: #fff;

                    &:hover {
                        fill: $theme-color-red;
                    }

                    &:active {
                        fill: $theme-color-red-active;
                    }
                }
            }

            .nav-buttons {
                @include flex($A: stretch, $G: 0.5rem);

                button {
                    padding: 0.75em 1.75em;
                    color: #fff;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }

                .search {
                    @include flex;
                    padding: 0 0.65rem;
                    background-color: $theme-color-blue;

                    svg {
                        width: 20px;
                        height: auto;
                    }

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }
            }

            .nav-responsive-menu {
                svg {
                    display: none;
                    width: 50px;
                    height: auto;
                    fill: #c6c6c6;
                }
            }
        }
    }

    .header-content {
        @include flex;
        width: min(1065px, 90%);
        background-color: hsla(0, 0%, 0%, 0.45);
        color: #fff;
        fill: #fff;

        .content-read-more {
            @include flex($D: column, $A: flex-start, $F: 65%);
            padding: 4rem 8rem 4rem 0rem;

            h4 {
                margin-bottom: 5px;
            }

            h1 {
                font-size: 2.5rem;
                margin-bottom: 5px;
            }

            p {
                color: hsl(0, 0%, 75%);
                margin-bottom: 20px;
            }

            > div {
                @include flex;

                button {
                    padding: 0.7em 2.25em;
                    color: #fff;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:focus-visible {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }

                svg {
                    width: 30px;
                    height: auto;
                    fill: #fff;
                    cursor: pointer;
                    margin-left: 1rem;
                    margin-right: 0.5rem;

                    &:hover {
                        fill: $theme-color-red-hover;
                    }

                    &:active {
                        fill: $theme-color-red-active;
                    }
                }

                a {
                    color: hsla(0, 0%, 100%, 0.75);
                }
            }
        }

        .content-form {
            @include flex($D: column, $A: flex-start, $F: 35%);
            padding: 4rem 1.5rem;
            border-left: 1px solid hsla(0, 0%, 100%, 0.25);

            h3 {
                margin-bottom: 5px;
            }

            p {
                color: hsl(0, 0%, 75%);
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                height: 2.5rem;
                padding: 20px 15px;
                margin-bottom: 25px;
            }

            button {
                padding: 0.7em 2.25em;
                color: #fff;
                background-color: $theme-color-blue;
                border: none;
                border-radius: 1px;

                &:hover {
                    background-color: $theme-color-blue-hover;
                }

                &:active {
                    background-color: $theme-color-blue-active;
                }
            }
        }
    }
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! MAIN
//! //////////////////////////////////////////////////////////////////////////////////////////////////

main {
    @include flex($D: column);

    .heading {
        color: $theme-color-red;
        font-weight: 500;
    }

    .description {
        font-size: 1.75rem;
        letter-spacing: 1px;
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! ABOUT US
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-about-us {
        @include flex;
        width: 100%;
        padding: 5.5rem 0;

        .container {
            @include flex;
            width: min(1065px, 90%);

            .about-us-visual {
                @include flex($J: flex-end, $F: 50%);
                padding-right: 0.75rem;
                position: relative;

                img {
                    width: min(385px, 100%);
                    height: 445px;
                    object-fit: cover;
                }

                > div {
                    @include flex($A: flex-end);
                    position: absolute;
                    width: 12.5rem;
                    height: 11rem;
                    outline: 7px solid hsl(0, 0%, 97.5%);
                    bottom: 2.5rem;
                    left: 0rem;
                    background-color: $theme-color-red;
                    padding: 1rem;

                    svg {
                        position: absolute;
                        top: 0.75rem;
                        right: 0.5rem;
                        width: 37.5px;
                        height: auto;
                        fill: #fff;
                    }

                    span {
                        display: block;
                        font-size: 2.75rem;
                        font-weight: 900;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: #fff;
                        font-size: 0.9rem;
                    }
                }
            }

            .about-us-description {
                @include flex($A: flex-start, $D: column, $F: 50%);
                padding-left: 0.75rem;

                h4 {
                    margin-bottom: 10px;
                }

                h2 {
                    margin-bottom: 10px;
                }

                p {
                    color: hsl(0, 0%, 40%);
                    font-size: 0.9rem;
                    margin-bottom: 20px;
                }

                > div {
                    @include flex($G: 1rem);
                    margin-bottom: 1rem;

                    > div {
                        @include flex;

                        svg {
                            flex: 20%;
                            width: 50px;
                            fill: $theme-color-red;
                            margin-right: 0.75rem;
                        }

                        > div {
                            flex: 80%;

                            h4 {
                                font-weight: 500;
                                margin-bottom: 0px;
                            }

                            p {
                                font-size: 0.8rem;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }

                button {
                    padding: 0.7em 2.25em;
                    color: #fff;
                    background-color: $theme-color-blue;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! SERVICES
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-services {
        @include flex($D: column);
        position: relative;
        width: 100%;
        padding: 5.5rem 0;
        background: hsla(0, 0%, 0%, 0.05);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: url(assets/Services-bg.jpg) center/cover no-repeat;
            opacity: 0.25;
            z-index: -1;
        }

        h4 {
            margin-bottom: 5px;
        }

        h2 {
            margin-bottom: 50px;
        }

        .container {
            width: min(1065px, 90%);
            display: grid;
            gap: 1.5rem;
            grid-template-areas:
                "one two three four"
                "five six seven eight";

            .one {
                grid-area: one;
            }
            .two {
                grid-area: two;
            }
            .three {
                grid-area: three;
            }
            .four {
                grid-area: four;
            }
            .five {
                grid-area: five;
            }
            .six {
                grid-area: six;
            }
            .seven {
                grid-area: seven;
            }
            .eight {
                grid-area: eight;
            }

            .services {
                position: relative;
                background-color: #fff;
                cursor: pointer;

                img {
                    object-fit: cover;
                }

                > div {
                    @include flex($D: column, $A: default);
                    padding: 0.75rem 0.9rem 1rem 0.9rem;

                    > div {
                        @include flex($J: space-between);

                        svg {
                            width: 35px;
                            height: auto;
                            fill: $theme-color-red;
                        }

                        span {
                            font-size: 2.5rem;
                            font-weight: 700;
                            color: hsl(0, 0%, 90%);
                            transition: all 0.25s;
                        }
                    }

                    p {
                        color: hsl(0, 0%, 50%);
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: red;
                    transition: all 0.25s;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 25px;
                    height: 25px;
                    background-color: red;
                    transition: all 0.25s;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition-delay: 0.1s;
                }

                &:hover::after {
                    transform: scaleX(1);
                }

                &:hover::before {
                    transform: scaleX(1);
                }

                &:hover span {
                    color: hsl(0, 0%, 75%);
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! TRANSPORT
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-transport {
        @include flex($D: column);
        position: relative;
        width: 100%;
        background: url(assets/Construction.jpg) center/cover no-repeat;
        padding: 5.5rem 0 7.5rem;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: hsla(0, 0%, 0%, 0.65);
            z-index: -1;
        }

        .heading-container {
            @include flex($D: column);
            width: min(500px, 90%);

            h4 {
                margin-bottom: 5px;
            }

            h2 {
                color: #fff;
                text-align: center;
                margin-bottom: 25px;
            }

            > div {
                @include flex($G: 1.5rem);

                button {
                    padding: 0.7em 2.25em;
                    color: #fff;
                    font-size: 0.9rem;
                    background-color: $theme-color-blue;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }

                button:nth-child(1) {
                    background-color: $theme-color-red;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }
        }

        .container {
            @include flex($J: space-between);
            position: absolute;
            bottom: -50px;
            width: min(1065px, 95%);
            padding: 1.75rem 2.75rem;
            background-color: #fff;
            color: #000;
            box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.15);

            > div {
                @include flex($G: 0.75rem);
                width: min(10rem, 100%);

                svg {
                    width: 40px;
                    fill: $theme-color-blue;
                }

                span {
                    font-size: 1.85rem;
                    font-weight: bold;
                    color: $theme-color-red;
                }

                p {
                    color: hsl(0, 0%, 35%);
                    font-size: 0.9rem;
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! REQUEST FORM
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-request-form {
        @include flex($D: column);
        position: relative;
        width: 100%;
        padding: 7.5rem 0 5rem;

        h4 {
            margin-bottom: 5px;
        }

        h2 {
            text-align: center;
            margin-bottom: 50px;
        }

        .container {
            @include flex($G: 1.5rem, $A: stretch);
            width: min(1065px, 90%);

            .request-form {
                @include flex($D: column, $A: stretch, $J: flex-start, $G: 1.25rem, $F: 67.5%);
                padding: 3.25rem 1.5rem;
                border: 1px solid hsl(0, 0%, 85%);

                h3 {
                    margin-bottom: 0px;
                }

                > div {
                    @include flex($J: space-between, $G: 1.5rem);

                    > div {
                        @include flex($D: column, $A: flex-start, $G: 5px);
                        width: 100%;
                    }
                }

                label {
                    font-size: 0.75rem;
                    font-weight: normal;
                    color: hsl(0, 0%, 15%);
                }

                input {
                    width: 100%;
                    height: 2.75rem;
                    padding: 12px;
                    border: 1px solid hsl(0, 0%, 85%);
                    background-color: hsl(0, 0%, 99%);
                    color: hsl(0, 0%, 45%);
                    border-radius: 2.5px;
                }

                select {
                    width: 100%;
                    height: 2.75rem;
                    padding: 12px;
                    border: 1px solid hsl(0, 0%, 85%);
                    background-color: hsl(0, 0%, 99%);
                    color: hsl(0, 0%, 65%);
                    border-radius: 2.5px;
                }

                .input-group {
                    input {
                        width: 17.5%;
                    }
                }

                .checkbox-group {
                    @include flex($J: flex-start);
                    margin: 0.5rem 0;

                    input {
                        width: 12px;
                        height: auto;
                        margin-right: 5px;
                    }

                    label {
                        margin-right: 20px;
                        color: hsl(0, 0%, 45%);
                    }
                }

                button {
                    padding: 0.8em 2.25em;
                    color: #fff;
                    font-size: 1.12rem;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }

            .contact-map {
                @include flex($D: column, $G: 1.75rem, $F: 32.5%);

                .contact {
                    @include flex($D: column, $A: flex-start, $F: 50%);
                    padding: 1.5rem 1.5rem;
                    background-color: #000;
                    color: #fff;

                    svg {
                        width: 45px;
                        fill: $theme-color-red;
                        margin-bottom: 15px;
                    }

                    h3 {
                        letter-spacing: 0.5px;
                        font-size: 1.25rem;
                        margin-bottom: 5px;
                    }

                    p {
                        color: hsl(0, 0%, 65%);
                        font-size: 0.9rem;
                    }

                    button {
                        padding: 0.7em 2.25em;
                        color: #fff;
                        font-size: 0.8rem;
                        background-color: $theme-color-red;
                        border: none;
                        border-radius: 1px;
                        margin-top: 1em;

                        &:hover {
                            background-color: $theme-color-red-hover;
                        }

                        &:active {
                            background-color: $theme-color-red-active;
                        }
                    }
                }

                .map {
                    @include flex($F: 50%);
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! TESTIMONIALS
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-testimonials {
        @include flex($D: column);
        width: 100%;
        padding: 4rem 0;
        background-color: #f3fbfe;

        .container {
            @include flex($J: space-between);
            width: min(1065px, 90%);
            margin-bottom: 5rem;

            h4 {
                margin-bottom: 7.5px;
            }

            .slider-navigation {
                display: flex;
                gap: 0.5rem;
            }

            button {
                padding: 0em;
                color: #fff;
                font-size: 0.9rem;
                background-color: $theme-color-red;
                border: none;
                border-radius: 1px;

                &:hover {
                    background-color: $theme-color-red-hover;
                }

                &:active {
                    background-color: $theme-color-red-active;
                }
            }

            svg {
                width: 40px;
                height: auto;
            }
        }

        .testimonial-container {
            @include flex;

            .testimonial {
                width: min(500px, 90%);
                padding: 1.25rem;
                background-color: #fff;
                border: 1px solid hsl(0, 0%, 90%);

                div {
                    @include flex($J: flex-start);

                    p {
                        margin: 0;

                        &::first-line {
                            color: $theme-color-red;
                        }
                    }
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                p {
                    color: hsl(0, 0%, 50%);
                    margin-bottom: 20px;
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! CONTACT US
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-contact-us {
        @include flex;
        position: relative;
        width: 100%;
        padding: 4rem 0;
        background: url(assets/Building.jpg) center/cover no-repeat;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: hsla(0, 0%, 0%, 0.65);
            z-index: -1;
        }

        .container {
            @include flex($J: space-between);
            width: min(1065px, 90%);

            > div {
                @include flex;
                width: 70%;
                color: #fff;

                svg {
                    fill: $theme-color-red;
                    width: 75px;
                    height: auto;
                    margin-right: 25px;
                }

                h2 {
                    text-align: left;
                    margin-bottom: 7.5px;
                }

                p {
                    font-size: 0.9rem;
                }
            }

            button {
                padding: 0.7em 2.25em;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 400;
                background-color: $theme-color-blue;
                border: none;
                border-radius: 1px;
                margin-top: 1em;

                &:hover {
                    background-color: $theme-color-blue-hover;
                }

                &:active {
                    background-color: $theme-color-blue-active;
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! BLOG
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-blog {
        @include flex($D: column);
        width: 100%;
        padding: 3.5rem 0;

        h4 {
            margin-bottom: 5px;
        }

        h2 {
            margin-bottom: 50px;
        }

        .container {
            @include flex($G: 1.5rem);
            width: min(1065px, 90%);

            .blog-container {
                @include flex($D: column);
                flex: 33.3%;
                border: 1px solid hsl(0, 0%, 90%);

                img {
                    width: 100%;
                    height: 175px;
                    object-fit: cover;
                }

                .blog-body {
                    @include flex($D: column, $A: flex-start);
                    padding: 1.5rem 1.25rem;

                    > div {
                        @include flex;
                        margin-bottom: 0.75rem;

                        svg {
                            width: 15px;
                            height: auto;
                            fill: $theme-color-red;
                            margin-right: 7.5px;
                        }

                        span {
                            font-size: 0.75rem;
                            color: hsl(0, 0%, 50%);
                        }
                    }

                    h4 {
                        margin-bottom: 0.5rem;
                    }

                    p {
                        color: hsl(0, 0%, 50%);
                        font-size: 0.9rem;
                        margin-bottom: 1rem;
                    }

                    button {
                        padding: 0.7em 2.25em;
                        color: #fff;
                        font-size: 0.9rem;
                        font-weight: 400;
                        background-color: $theme-color-red;
                        border: none;
                        border-radius: 1px;

                        &:hover {
                            background-color: $theme-color-red-hover;
                        }

                        &:active {
                            background-color: $theme-color-red-active;
                        }
                    }
                }
            }

            .blog-container:nth-of-type(2) {
                box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
                border: none;

                button {
                    background-color: $theme-color-blue;

                    &:hover {
                        background-color: $theme-color-blue-hover;
                    }

                    &:active {
                        background-color: $theme-color-blue-active;
                    }
                }
            }
        }
    }

    //! //////////////////////////////////////////////////////////////////////////////////////////////////
    //! PARTNERS
    //! //////////////////////////////////////////////////////////////////////////////////////////////////

    .main-partners {
        @include flex($D: column);
        width: 100%;
        padding: 1.5rem 0 2.75rem;

        .container {
            width: min(1065px, 90%);

            h4 {
                margin-bottom: 7.5px;
            }

            h2 {
                text-align: left;
                margin-bottom: 50px;
            }

            > div {
                @include flex($J: space-between);

                h1 {
                    color: $theme-color-blue;
                }
            }
        }
    }
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! FOOTER
//! //////////////////////////////////////////////////////////////////////////////////////////////////

footer {
    @include flex($D: column);
    width: 100%;
    background-color: #000;

    .footer-content {
        @include flex($G: 2.5rem, $A: flex-start);
        color: #fff;
        width: min(1065px, 90%);
        padding: 4.5rem 0;

        .footer-logo-socials {
            flex: 33.3%;

            h2 {
                color: $theme-color-red;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.85rem;
                color: hsla(0, 0%, 100%, 0.5);
                margin-bottom: 15px;
            }

            > div {
                @include flex($G: 0.75rem, $J: flex-start);

                svg {
                    width: 32px;
                    height: auto;
                    padding: 0.5rem;
                    background-color: #fff;
                    border-radius: 50%;
                    color: #000;
                    cursor: pointer;

                    &:hover {
                        background-color: $theme-color-red;
                        color: #fff;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                        color: #fff;
                    }
                }
            }
        }

        .footer-links {
            @include flex($G: 0.75rem, $D: column, $A: flex-start);
            flex: 33.3%;

            .link-container {
                @include flex($J: flex-start, $G: 5rem);
                width: 100%;

                > div {
                    @include flex($G: 0.75rem, $D: column, $J: space-between);

                    a {
                        color: hsla(0, 0%, 100%, 0.5);

                        &:hover {
                            color: hsla(0, 0%, 100%, 0.65);
                        }

                        &:active {
                            color: hsla(0, 0%, 100%, 1);
                        }
                    }
                }
            }
        }

        .footer-newsletter {
            flex: 33.3%;

            h2 {
                margin-bottom: 15px;
            }

            p {
                color: hsla(0, 0%, 100%, 0.5);
                margin-bottom: 15px;
            }

            div {
                @include flex($J: space-between);
                padding: 0.2rem;
                background-color: #fff;

                input {
                    padding: 0.25rem 1rem;
                    border: none;
                    height: 100%;

                    &:focus-within {
                        outline: none;
                    }
                }

                button {
                    padding: 0.5em 1em;
                    color: #fff;
                    font-size: 0.9rem;
                    font-weight: 400;
                    background-color: $theme-color-red;
                    border: none;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-color-red-hover;
                    }

                    &:active {
                        background-color: $theme-color-red-active;
                    }
                }
            }
        }
    }

    .footer-copyright {
        @include flex;
        width: 100%;
        padding: 1rem 0;
        background-color: $theme-color-red;
        color: #fff;
        font-size: 0.9rem;
    }

    .footer-info {
        @include flex;
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;

        .container {
            @include flex($J: space-between);
            width: min(1065px, 90%);

            > div {
                @include flex;

                svg {
                    fill: $theme-color-red;
                    width: 25px;
                    height: auto;
                    margin-right: 0.75rem;
                }

                p {
                    line-height: 1.2;
                    font-size: 0.8rem;
                }

                span {
                    font-size: 0.75rem;
                    color: hsla(0, 0%, 0%, 0.5);
                }
            }
        }
    }
}

//! //////////////////////////////////////////////////////////////////////////////////////////////////
//! MEDIA QUERIES
//! //////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1400px) {
    .header-nav {
        .nav-logo-links-socials {
            flex: 65% !important;

            .nav-socials {
                display: none !important;
            }
        }

        .nav-info-buttons-menu {
            flex: 35% !important;
        }
    }
}

@media (max-width: 1200px) {
    .header-nav {
        .nav-logo-links-socials {
            flex: 75% !important;
        }

        .nav-info-buttons-menu {
            flex: 25% !important;
            justify-content: flex-end !important;

            .nav-info {
                display: none !important;
            }
        }
    }

    .header-content {
        .content-read-more {
            padding-right: 2rem !important;
        }
    }
}

@media (max-width: 1000px) {
    .header-nav {
        .nav-logo-links-socials {
            flex: 95% !important;
        }

        .nav-info-buttons-menu {
            flex: 5% !important;

            .nav-buttons {
                display: none !important;
            }

            .nav-responsive-menu {
                svg {
                    display: block !important;
                }
            }
        }
    }

    .main-services {
        .container {
            grid-template-areas:
                "one two three"
                "four five six"
                "seven eight ." !important;
        }
    }
}

@media (max-width: 850px) {
    .header-nav {
        .nav-links {
            display: none !important;
        }
    }

    .header-content {
        margin: 7.5rem 0 2.5rem !important;
        flex-direction: column !important;
        align-items: flex-end !important;

        .content-read-more {
            padding: 0 0 2rem 1rem !important;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.25) !important;
        }

        .content-form {
            align-items: flex-end !important;
            text-align: right !important;
            padding: 2rem 1rem 1rem 0 !important;
            border: none !important;
        }
    }

    .main-about-us {
        .about-us-visual {
            display: none !important;
        }

        .about-us-description {
            align-items: center !important;
        }
    }

    .main-request-form {
        .container {
            flex-direction: column !important;
        }
    }

    .main-transport {
        .container {
            text-align: center !important;

            svg {
                display: none !important;
            }
        }
    }

    //! PADDING

    .main-about-us,
    .main-services,
    .main-testimonials,
    .main-contact-us,
    .main-blog,
    .footer-content {
        padding: 2.5rem 0 !important;
    }

    .main-transport {
        padding: 2.5rem 0 5rem !important;
    }

    .main-request-form {
        padding: 5rem 0 2rem !important;
    }
}

@media (max-width: 700px) {
    .main-services {
        .container {
            gap: 1rem !important;
            grid-template-areas:
                "one two"
                "three four"
                "five six"
                "seven eight" !important;
        }
    }

    .main-transport {
        .container {
            padding: 1.2rem 0 !important;

            span {
                font-size: 1.5rem !important;
            }
        }
    }

    .main-request-form {
        padding-top: 7.5rem !important;

        .request-form {
            padding: 2rem 1.5rem !important;

            .checkbox-group {
                flex-wrap: wrap !important;
                gap: 1rem !important;
                flex-direction: row !important;

                div {
                    flex-direction: row !important;
                    width: fit-content !important;
                }
            }
        }
    }

    .main-contact-us {
        .container {
            flex-direction: column !important;

            h2, p {
                text-align: center !important;
            }
        }

        svg {
            display: none !important;
        }
    }

    .main-partners {
        .container {
            div {
                flex-wrap: wrap !important;
                justify-content: center !important;
                gap: 1rem !important;
            }
        }
    }

    .footer-content {
        flex-direction: column !important;

        .footer-links {
            width: 100%;

            .link-container {
                flex-direction: column !important;
                gap: 1rem !important;

                div {
                    width: 100% !important;
                    flex-direction: row !important;
                    flex-wrap: wrap !important;
                }
            }
        }
    }
    
    .footer-copyright {
        text-align: center !important;
    }

    .footer-info {
        .container {
            flex-wrap: wrap !important;
            gap: 1rem !important;

            div {
                flex: 25%;
            }
        }
    }
}

@media (max-width: 600px) {
    .main-blog {
        .blog-container:nth-last-of-type(1), .blog-container:nth-last-of-type(3)  {
            display: none !important;
        }
    }
}
