:root {
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
}

.swiper {
     background-color: hsla(0, 0%, 50%, 0.2);
  width: 100%;
  height: 25rem;
}

.swiper-button-prev::after {
  color: white;
}
.swiper-button-next::after {
  color: white;
}

.image {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-img="1"] {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

[value="1"] {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



