.color {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 1s;
}

.circle {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 12px 12px rgb(112, 54, 0);
}
