*,
*::after,
*::before,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "roboto", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1935px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: url(assets/Greece-background1.png);
  min-height: 58.5rem;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #017df9;
}

.navbar button {
  padding: 0.5em 1.75em;
  color: #017df9;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 32px rgba(1, 125, 249, 0.25);
          box-shadow: 0 0 32px rgba(1, 125, 249, 0.25);
}

.header-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-main-section img {
  margin-bottom: 3em;
}

.header-main-section p {
  margin-bottom: 3em;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.5px;
  color: #017df9;
}

.header-main-section button {
  padding: 0.75em 1.75em;
  border: none;
  border-radius: 40px;
  font-weight: 400;
  color: #017df9;
  background-color: #fff;
}

.main-options-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0;
  background-color: #017df9;
}

.main-options-section .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  border-radius: 50%;
  color: #017df9;
  background-color: #fff;
  cursor: pointer;
}

.main-options-section .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: left;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.main-options-section .select svg {
  opacity: 0.25;
}

.main-options-section .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 9rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.main-options-section .select select:focus-visible {
  outline: transparent;
}

.main-options-section .select select[name="city"] {
  width: 18rem;
}

.main-places-section .title {
  margin: 4rem 0rem;
  color: lightgray;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.main-places-section .places-grid div {
  position: relative;
}

.main-places-section .places-grid div img {
  width: 100%;
  height: 100%;
}

.main-places-section .places-grid div p {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 5%;
  font-size: 2rem;
  font-weight: bold;
}

.main-places-section .crete-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute !important;
  width: 100%;
  height: 100%;
  inset: 0;
}

.main-places-section .crete-div p {
  left: 0 !important;
  bottom: 0 !important;
  position: relative !important;
  font-size: 4rem !important;
}

.main-places-section .crete-div .crete-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.75rem;
}

.main-places-section .crete-div .crete-buttons button {
  margin-top: 0.75em;
  padding: 0.5em 1.75em;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
}

.places-grid {
  display: -ms-grid;
  display: grid;
  gap: 0.2rem;
      grid-template-areas: "crete crete" "thessa halki" "athens mykonos" "myrtos meteora";
}

.places-grid .crete {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: crete;
}

.places-grid .thessa {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: thessa;
}

.places-grid .halki {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: halki;
}

.places-grid .athens {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: athens;
}

.places-grid .mykonos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mykonos;
}

.places-grid .meteora {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: meteora;
}

.places-grid .myrtos {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: myrtos;
}

@media screen and (min-width: 1000px) {
  .main-options-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .places-grid {
    gap: 1.5rem;
        grid-template-areas: "thessa   thessa   crete    crete   athens   athens" "halki    halki    crete    crete   mykonos  mykonos" "meteora  meteora  meteora  myrtos  myrtos   myrtos" ".        .        .        .       .        .";
  }
}
/*# sourceMappingURL=style.css.map */