.example {
     color: hsla(360, 50%, 50%, 0.5); /* hsla(hue, saturation, lightness, alpha) */
     background: #fff; /* color image repeat position */

     text-align: justify; /* streches lines to same length */
     text-transform: capitalize; /* capital upper lower case */
     text-indent: 5px; /* indents first line */
     letter-spacing: 0.5px; /* space between letters in text */
     line-height: 1.5px; /* height between lines in text */
     word-spacing: 2px; /* space between words in text */

     
}
