/*! //////////////////////////////////////////////////////////////////// NOT FINISHED ////////////////////////////////////////////////////////////////////
/*! //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*! //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*? W3SCHOOLS TUTORIALS
/*? W3SCHOOLS REFERENCES
/*? EXAMPLES 
/*? USAGES
/*? KEVIN POWELL 
/*? WEB DEV SIMPLIFIED */

.TEXT {
    text-indent: 0; /*! indents first line */
    letter-spacing: 0; /*! space between letters in text */
    line-height: 0; /*! height between lines in text */
    word-spacing: 0; /*! space between words in text */

    /*TODO GRADIENT TEXT */
    background-color: linear-gradient(); /*! gradient */
    background-clip: text;
    color: transparent;
}

.BACKGROUND {
    background: #fff url(); /*! color; image; */
    background-repeat: 0; /*! repeat-x; repeat-y; no-repeat; space; round;*/
    background-position: 0; /*! top left right bottom center; center center;*/
    background-attachment: 0; /*! scroll; fixed; */
    background-blend-mode: 0; /*! normal; multiply; screen; overlay; */
    background-clip: 0; /*! text; border-box; padding-box; content-box; */
}

.OUTLINE {
    outline: 0; /*! px solid color; */
    outline-offset: 0; /*! px */
}

